header img{
    position: relative;
    margin-left: 20px;
    background-color: rgb(22, 199, 36);
   }

   header nav{
    float: right;
    position: relative;
    right: 400px;
    top:40px;
   
   }
   
   nav li{
    float: left;
    padding: 0px 15px;
    margin: 0px 10px;
    list-style-type: none;
   }
   
   li a{
    text-decoration: none;
   }
   
   body{
    background-color:rgb(101, 219, 17);
    box-sizing: border-box;
    width: 90%;
   }

   #inicio1:hover{
    background-color: antiquewhite;
   }
   #inicio2:hover{
    background-color: antiquewhite;
   }
   #inicio3:hover{
    background-color: antiquewhite;
   }
   #inicio0:hover{
    background-color: antiquewhite;
   }
   
#baño{
    position: relative;
    left: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid;
    box-sizing: border-box;
    width: 50%;
    margin: 0px 5px;
    padding: 10px;
    bottom: 200px;
}
#consulta{
    position: relative;
    left: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid;
    box-sizing: border-box;
    width: 50%;
    margin: 0px 5px;
    padding: 10px;
    bottom: 200px;
}
#perrito{
    width: 20%;
    position: relative;
    left: 990px;
    bottom: 650px
    ;
}